<li>
  <%= gravatar_for @user, size: 50 %>
  <%= link @user.name, to: Routes.user_path(@conn, :show, @user) %>
  <%= if @conn.assigns.current_user.admin &&
    @conn.assigns.current_user != @user do %>
    | <%= link "delete",
            to: Routes.user_path(@conn, :delete, @user),
            method: :delete, data: [confirm: "You sure?"] %>
  <% end %>
</li>

