<h1>Update your profile</h1>

<div class="row">
  <div class="mx-auto col-md-6 col-md-offset-3">
    <%= render "_form.html", Map.merge(assigns, %{
          action: Routes.user_path(@conn, :update, @user),
          button_text: "Save changes" }) %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>
