<h1>All users</h1>

<%= pagination_links @conn, @users_page %>

<ul class="users">
  <%= for user <- @users_page do %>
    <%= render "_user.html", conn: @conn, user: user %>
  <% end %>
</ul>

<%= pagination_links @conn, @users_page %>

