<h1>All users</h1>

<%= pagination_links @conn, @users_page %>

<ul class="users">
  <%= for user <- @users_page do %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link user.name, to: Routes.user_path(@conn, :show, user) %>
    </li>
  <% end %>
</ul>

<%= pagination_links @conn, @users_page %>

