<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= SampleAppWeb.DynamicTextHelpers.page_title(Enum.into(assigns,
      %{action: @conn.private.phoenix_action})) %>
    </title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="#">Phoenix Tutorial</a>
      sample application.
    </p>
  </body>
</html>

