<footer class="footer">
  <div class="container">
    <small>
      The <a href="#">Phoenix Tutorial</a>
      by <a href="#">Edmtsky</a>
    </small>
    <nav>
      <ul>
        <li><%= link "About", to: "#" %></li>
        <li><%= link "Contact", to: "#" %></li>
      </ul>
    </nav>
  </div>
</footer>
