<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= SampleAppWeb.DynamicTextHelpers.page_title(Enum.into(assigns,
      %{
          view_module: @conn.private.phoenix_view,
          action: @conn.private.phoenix_action
        })) %>
    </title>
    <link rel="stylesheet"
    href={Routes.static_path(@conn, "/assets/app.css")} />
  </head>
  <body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <%= link "sample app", to: "#" , id: "logo",
          class: "navbar-brand" %>
          <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link "Home", to: "#" , class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Help", to: "#" , class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Log in", to: "#" , class: "nav-link" %>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>
  <div class="container mt-4">
    <%= @inner_content %>
  </div>
  <script type="text/javascript"
  src={ Routes.static_path(@conn, "/assets/app.js")}></script>
  </body>
</html>
